---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: service-provider-hoxton-a
  name: service-provider-hoxton-a
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-provider-hoxton-a
  template:
    metadata:
      labels:
        app: service-provider-hoxton-a
      annotations:
        polarismesh.cn/javaagent: "true"
        polarismesh.cn/javaagentConfig: |
          {
          	"spring.cloud.polaris.config.enabled": "true",
          	"spring.cloud.polaris.config.groups[0].name": "service-provider-hoxton",
          	"spring.cloud.polaris.config.groups[0].files[0]": "config/callee.properties",
            "spring.cloud.polaris.lossless.enabled": "true"
          }
    spec:
      containers:
        - image: polarismesh/polaris-javaagent-demo-sc-quickstart-hoxton-provider-a:2.0.2-RC1-java8
          imagePullPolicy: Always
          name: provider
          resources:
            limits:
              cpu: "500m"
              memory: 1000Mi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          command:
            - /bin/bash
            - -c
            - cd /app && java -Dserver.port=65001 -Dspring.cloud.nacos.config.server-addr=127.0.0.1:8848 -jar main.jar
          lifecycle:
            preStop:
              exec:
                command: [ "curl","-X","PUT","http://127.0.0.1:28080/offline","&&","sleep","30" ]
          readinessProbe:
            httpGet:
              path: /online
              port: 28080
            initialDelaySeconds: 3
            periodSeconds: 3
      restartPolicy: Always