spring.application.name=service-consumer
spring.cloud.polaris.address=grpc\://127.0.0.1\:8091
spring.cloud.polaris.namespace=default
spring.cloud.polaris.enabled=true
spring.cloud.polaris.discovery.enabled=true
spring.cloud.polaris.discovery.registerEnabled=true
spring.cloud.polaris.stat.enabled=true
spring.cloud.polaris.stat.port=28082
spring.cloud.tencent.rpc-enhancement.reporter.enabled=true
spring.cloud.nacos.enabled=true
spring.cloud.nacos.username=nacos
spring.cloud.nacos.password=nacos
spring.cloud.nacos.discovery.enabled=true
spring.cloud.nacos.discovery.register=true
spring.cloud.nacos.discovery.server-addr=127.0.0.1\:8848
