spring.cloud.polaris.address=grpc\://127.0.0.1\:8091
spring.cloud.polaris.enabled=true
spring.cloud.polaris.discovery.namespace=default
spring.cloud.polaris.discovery.namespace=default
spring.cloud.polaris.discovery.enabled=true
spring.cloud.polaris.discovery.registerEnabled=true
spring.cloud.polaris.stat.enabled=true
spring.cloud.tencent.rpc-enhancement.reporter.enabled=true

