spring.cloud.polaris.address=grpc\://127.0.0.1\:8091
spring.cloud.polaris.enabled=true

## 服务发现能力
spring.cloud.polaris.discovery.namespace=default
spring.cloud.polaris.discovery.namespace=default
spring.cloud.polaris.discovery.enabled=true
spring.cloud.polaris.discovery.register=true

## 负载均衡
spring.cloud.polaris.loadbalancer.enabled=true
#spring.cloud.polaris.loadbalancer.discoveryType=POLARIS
#spring.cloud.polaris.loadbalancer.strategy=random

## 路由能力
spring.cloud.polaris.router.enabled=true
# 自定义路由
spring.cloud.polaris.router.rule-router.enabled=true
# 元数据路由
spring.cloud.polaris.router.metadata-router.enabled=true
# 就近路由
spring.cloud.polaris.router.nearby-router.enabled=true

## 限流能力
spring.cloud.polaris.ratelimit.enabled=true
#spring.cloud.polaris.ratelimit.rejectRequestTips=""
spring.cloud.polaris.ratelimit.rejectHttpCode=429
# 限流匀速排队最大等待时间，单位毫秒
spring.cloud.polaris.ratelimit.maxQueuingTime=1000


## RPC 调用增强
spring.cloud.tencent.rpc-enhancement.enabled=true
# 开启指标上报
spring.cloud.tencent.rpc-enhancement.reporter.enabled=true
#
#spring.cloud.tencent.rpc-enhancement.reporter.ignore-internal-server-error=true
#spring.cloud.tencent.rpc-enhancement.reporter.series=
#spring.cloud.tencent.rpc-enhancement.reporter.statuses=""

#spring.cloud.polaris.stat.host=""
spring.cloud.polaris.stat.enabled=true
spring.cloud.polaris.stat.port=0
spring.cloud.polaris.stat.path=/metrics

## 配置中心
spring.cloud.polaris.config.enabled=true
spring.cloud.polaris.config.address=grpc\://127.0.0.1\:8093
spring.cloud.polaris.config.auto-refresh=true
spring.cloud.polaris.config.refresh-type=refresh_context

