<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="com.tencent.polaris" level="INFO"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
        <file>${polaris.logback.home}/polaris/log/polaris.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${polaris.logback.home}/polaris/log/polaris.log.%d{yyyy-MM-dd}.%i
            </fileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>14</MaxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>