agent.application.namespace=default
agent.polaris.registry.address=127.0.0.1\:8091

#agent.application.name=""
#agent.polaris.token=""
#agent.polaris.instance.health.ttl=""
#agent.polaris.registry.address=""
#agent.polaris.config.address=""
#agent.plugin.springcloud.register.enable=""
#agent.plugin.springcloud.multi.register.enable=""
#agent.plugin.springcloud.discovery.enable=""
#agent.plugin.springcloud.stainer.enable=""
#agent.plugin.springcloud.router.enable=""
#agent.plugin.springcloud.limiter.enable=""